#login-form-div{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height:300px;
    width:320px;
    margin:auto;
    margin-top:70px;
    padding-left:40px;
    box-sizing:border-box;
    border-radius: 10px;;
}
#login-form-div h1{
    text-align:center;
    padding-right:40px;
    padding-top:20px;
    padding-bottom:20px;
    
}
#submit{
    width:140px;
    height:30px;
    margin-left:50px;
    background-color: teal;
    color:white;
    border:none;
    border-radius: 7px;;
}